# Appwrite Configuration

NEXT_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=your_project_id
NEXT_PUBLIC_APPWRITE_DATABASE_ID=rec_database
NEXT_PUBLIC_APPWRITE_COLLECTION_ID=recommendation
NEXT_PUBLIC_APPWRITE_EVIDENCE_BUCKET_ID=rec-evidence
